<div class="container-fluid">
  <div>
    <div >
      <h3>{{'auth.login.SignIn' | translate}}</h3>

      <div>
        <input type="text" 
               placeholder="{{'auth.login.placeholder.Username' | translate }}" 
               #userName 
               required>
      </div>

      <div>
        <input type="password" 
               placeholder="{{ 'auth.login.placeholder.Password' | translate }}" 
               #userPassword 
               required>
      </div>

      <div>
        <input type="button" 
               value="{{ 'auth.login.button.login' | translate }}" 
               (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>

      <div>
        <span>{{ 'auth.login.span.Or' | translate}}</span>
      </div>

      <div>
        <button type="button" 
                (click)="authService.GoogleAuth()">
                {{ 'auth.login.button.loginWithGoogleAccount' | translate}}
        </button>
      </div>

      <div>
        <span routerLink="/forgot-password">{{ 'auth.login.link.forgotPassword' | translate}}</span>
      </div>
    </div>

    <div>
      <span>
        {{ 'auth.login.span.dontHaveAnAccount' | translate}}
        <span class="redirect" routerLink="/register-user">
          {{ 'auth.login.link.SignUp' | translate}} 
        </span>
      </span>
    </div>

  </div>

<form class="form-signin">
    <div class="text-center mb-4">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1>
      <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p>
    </div>

    <div class="form-label-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="inputPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
  </form>

</div>
