<div>
  <div>
    <div>
      <h3>{{ 'auth.forgot.text.title' | translate }}</h3>

      <p>
          {{ 'auth.forgot.text.instructions' | translate }}
      </p>

      <div>
        <input type="email" 
                placeholder="{{ 'auth.forgot.email' | translate }}" 
                #passwordResetEmail 
                required>
      </div>

      <div>
        <input type="submit" 
               value="{{ 'auth.forgot.button.reset' | translate }}" 
               (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>

    <div>
      <span>
          {{ 'auth.forgot.span.goBack' | translate }}
          <span routerLink="/login">
            {{ 'auth.forgot.link.goBack' | translate }}
          </span>
        </span>
    </div>

  </div>
</div>